body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1{
 font-size: 50px;
 font-weight: bold;
}

h3{
  font-size: 30px;
  color: #0777B9;
}

img{
  height: 250px;
  width: 250px;
  border: #0777B9 solid 1px;
  border-radius: 50%;
}

